* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: auto;
    text-align: center;
}

nav {
    background-color: #b8bcc3;
    padding: 1.6em;
}

nav a {
    color: #2F3AB2;
}

.faq {
    border-bottom-style: double;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.question, .answer {
    font-weight: bold;
}

#faq {
    width: 50vw;
    margin: auto;
    padding: 3em 0;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*Dark mode Users*/
/*@media (prefers-color-scheme: dark) {
    body {
        color: #FFFFFF;
        background-color: #000000;
    }

    #faq {
        box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
}*/

