/*Will work on refactoring css code*/
* {
    box-sizing: border-box;
    text-decoration: none;
}

body {
    margin: auto;
    text-align: center;
    overflow-x: hidden;
}

/*Dark mode Users*/
/*@media (prefers-color-scheme: dark) {
    * {
        color: white;
        background-color: black;
    }
}*/
/*For mobile Users*/
@media screen and (max-width: 480px) {
    #head {
        position: relative;
    }

    #head img {
        width: 100vw;
    }

    .head_text {
        color: #FFFFFF;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .head_text h1 {
        border-style: solid;
        border-width: 2%;
    }

    .ftrs_list {
        text-align: left;
        margin-left: 15vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #products img {
        width: 70vw;
    }

    #products div {
        margin-bottom: 2em;
    }

    .buy_btn button {
        width: 50%;
        padding: 0.8em 0;
        background-color: #FEE715;
        color: #000000;
        border-radius: 2em;
        border-style: none;
    }

    #why ul {
        text-align: left;
        margin-left: 15vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #contact {
        margin-bottom: 2em;
        margin-top: 3em;
    }

    form {
        text-align: left;
        margin: auto;
        padding: 1.5em;
        width: 70vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1.2em;
    }

    form input {
        width: 100%;
        margin-bottom: 2em;
        padding: 0.5em;
    }

    form textarea {
        width: 100%;
    }

    .sub_btn {
        display: flex;
        justify-content: center;
    }
    
    footer {
        background-color: #b8bcc3;
        display: flex;
        justify-content: space-between;
        padding: 1em 2em 1em 2em;
    }

    #ex {
        margin-top: 0.5em;
    }

    #email_not button {
        background-color: #000000;
        color: #FFFFFF;
        border-style: none;
        padding: 0.2em 0.3em;
    }
}

/*For tablet Users*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    #head {
        position: relative;
    }

    #head img {
        width: 100vw;
    }

    .head_text {
        color: #FFFFFF;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .head_text h1 {
        border-style: solid;
        border-width: 2%;
    }

    .ftrs_list {
        text-align: left;
        margin-left: 25vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #products img {
        width: 35vw;
        margin: 0 2em;
    }

    #products div {
        margin-bottom: 2em;
    }

    .buy_btn button {
        width: 35%;
        padding: 1.2em 0;
        background-color: #FEE715;
        color: #000000;
        border-radius: 2em;
        border-style: none;
    }

    #why ul {
        text-align: left;
        margin-left: 20vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #contact {
        margin-bottom: 2em;
        margin-top: 3em;
    }

    form {
        text-align: left;
        margin: auto;
        padding: 1.5em;
        width: 55vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1.2em;
    }

    form input {
        width: 100%;
        margin-bottom: 2em;
        padding: 0.5em;
    }

    form textarea {
        width: 100%;
    }

    .sub_btn {
        display: flex;
        justify-content: center;
    }
    
    footer {
        background-color: #b8bcc3;
        display: flex;
        justify-content: space-between;
        padding: 1em 4em 1em 4em;
    }

    #ex {
        margin-top: 0.7em;
    }

    #email_not button {
        background-color: #000000;
        color: #FFFFFF;
        border-style: none;
        padding: 0.2em 0.3em;
    }
}

/*For laptop Users*/
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #head {
        position: relative;
    }

    #head img {
        width: 100vw;
    }

    .head_text {
        color: #FFFFFF;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .head_text h1 {
        border-style: solid;
        border-width: 2%;
    }

    .ftrs_list {
        text-align: left;
        margin-left: 35vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #products img {
        width: 35vw;
        margin: 0 2em;
    }

    #products div {
        margin-bottom: 2em;
    }

    .buy_btn button {
        width: 35%;
        padding: 1.2em 0;
        background-color: #FEE715;
        color: #000000;
        border-radius: 2em;
        border-style: none;
    }

    #why ul {
        text-align: left;
        margin-left: 30vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #contact {
        margin-bottom: 2em;
        margin-top: 3em;
    }

    form {
        text-align: left;
        margin: auto;
        padding: 1.5em;
        width: 45vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1.2em;
    }

    form input {
        width: 100%;
        margin-bottom: 2em;
        padding: 0.5em;
    }

    form textarea {
        width: 100%;
    }

    .sub_btn {
        display: flex;
        justify-content: center;
    }
    
    footer {
        background-color: #b8bcc3;
        display: flex;
        justify-content: space-between;
        padding: 1em 4em 1em 4em;
    }

    #ex {
        margin-top: 0.7em;
    }

    #email_not button {
        background-color: #000000;
        color: #FFFFFF;
        border-style: none;
        padding: 0.2em 0.3em;
    }   
}

/*For Desktops and Large Screens*/
@media screen and (min-width: 1025px) and (max-width: 1200px) {
    #head {
        position: relative;
    }

    #head img {
        width: 100vw;
    }

    .head_text {
        color: #FFFFFF;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .head_text h1 {
        border-style: solid;
        border-width: 2%;
    }

    .ftrs_list {
        text-align: left;
        margin-left: 35vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2em;
    }

    #products img {
        width: 35vw;
        margin: 0 2em;
    }

    #products div {
        margin-bottom: 2em;
    }

    .buy_btn button {
        width: 35%;
        padding: 1.2em 0;
        background-color: #FEE715;
        color: #000000;
        border-radius: 2em;
        border-style: none;
    }

    #why ul {
        text-align: left;
        margin-left: 30vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #contact {
        margin-bottom: 2em;
        margin-top: 3em;
    }

    form {
        text-align: left;
        margin: auto;
        padding: 1.5em;
        width: 35vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1.2em;
    }

    form input {
        width: 100%;
        margin-bottom: 2em;
        padding: 0.5em;
    }

    form textarea {
        width: 100%;
    }

    .sub_btn {
        display: flex;
        justify-content: center;
    }
    
    footer {
        background-color: #b8bcc3;
        display: flex;
        justify-content: space-between;
        padding: 1em 8em 1em 8em;
    }

    #ex {
        margin-top: 0.7em;
    }

    #email_not button {
        background-color: #000000;
        color: #FFFFFF;
        border-style: none;
        padding: 0.2em 0.3em;
    }
}

/*For Extra Large Screens and TV*/
@media screen and (min-width: 1201px) {
    #head {
        position: relative;
    }

    #head img {
        width: 100vw;
    }

    .head_text {
        color: #FFFFFF;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .head_text h1 {
        border-style: solid;
        border-width: 2%;
    }

    .ftrs_list {
        text-align: left;
        margin-left: 40vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #products {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 2em;
    }

    #products img {
        width: 32vw;
        margin: 0 2em;
    }

    #products div {
        margin-bottom: 2em;
    }

    .buy_btn button {
        width: 35%;
        padding: 1.2em 0;
        background-color: #FEE715;
        color: #000000;
        border-radius: 2em;
        border-style: none;
    }

    #why ul {
        text-align: left;
        margin-left: 35vw;
        list-style-type: square;
        padding-right: 10vw;
        line-height: 1.5em;
    }

    #contact {
        margin-bottom: 2em;
        margin-top: 3em;
    }

    form {
        text-align: left;
        margin: auto;
        padding: 1.5em;
        width: 28vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1.2em;
    }

    form input {
        width: 100%;
        margin-bottom: 2em;
        padding: 0.5em;
    }

    form textarea {
        width: 100%;
    }

    .sub_btn {
        display: flex;
        justify-content: center;
    }
    
    footer {
        background-color: #b8bcc3;
        display: flex;
        justify-content: space-between;
        padding: 1em 15em 1em 15em;
    }

    #ex {
        margin-top: 0.7em;
    }

    #email_not button {
        background-color: #000000;
        color: #FFFFFF;
        border-style: none;
        padding: 0.2em 0.3em;
    }
}